.contentHousing {
    @include margin;
    margin-top: 50px;
    margin-bottom: 20px;
  
    @include tablet {
      margin: 35px 50px 0 50px;
    }
  
    @include mobile {
      margin: 25px 20px 0 20px;
    }
  
    .img_alone {
      height: 415px;
      width: 100%;
      object-fit: cover;
      border-radius: 25px;
  
      @include tablet {
        height: 315px;
        border-radius: 15px;
      }
  
      @include mobile {
        border-radius: 10px;
        height: 255px;
      }
    }
  
    h1 {
      font-size: 36px;
      font-weight: 500;
      margin-top: 30px;
  
      @include tablet {
        font-size: 24px;
      }
  
      @include mobile {
        font-size: 18px;
      }
    }
  
    p {
      margin-top: 5px;
    }
  
    .collapse_housing {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
      gap: 75px;
  
      @include tablet {
        gap: 35px;
      }
  
      @include mobile {
        flex-direction: column;
        gap: 0;
        margin-top: 15px;
      }
  
      .collapse_header {
        h2 {
          font-weight: 500;
          font-size: 18px;
  
          @include tablet {
            font-size: 15px;
          }
  
          @include mobile {
            font-size: 13px;
          }
        }
      }
    }
  }