$font-1: 'Montserrat', sans-serif;
$color-1:#FF6060;
$color-2: #fff;
$background-1: #F6F6F6;
$background-2: #000;

@mixin margin {
  margin: 0 100px 
}

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: $font-1;
  color: $color-1;
  font-size: 24px;
}